{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="container">
        {% for article in articles %}
            <h1>{{article.titre}}</h1>
            <p>{{article.texte | raw}}</p>
        {% endfor %}
    </div>
{% endblock %}
